
@{
    ViewData["Title"] = "PainelCliente";
}

<h1>PainelCliente</h1>
<p> Informações do Usuário.</p>
<p> Você é um cliente da loja</p>

<p>Seja bem vindo, <span>Nome: @ViewBag.Nome </span></p>
<p>CPF: @ViewBag.CPF</p>
<p>E-mail: @ViewBag.Email</p>

<br />